<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{@blog.title}}</h1>
      <p class="lead">{{@blog.description}}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
        {{navigation}}
      </li>
    </ul>
  </div>
</div>
