<div class="navmenu-social">
    <a href="#" class="btn-floating">
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="#" class="btn-floating">
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="#" class="btn-floating">
        <i class="fa fa-envelope" aria-hidden="true"></i>
    <a href="#" class="btn-floating">
        <i class="fa fa-github" aria-hidden="true"></i>
    </a>
</div>